<!doctype html>
<html lang="en">
  <head>
    <title>Browse</title>
    <%- include('partials/_nav-bar') %>
  </head>

<body>
  <div id="browse-main-container">
    <div id="filter-container">
      <h3>Price Filters</h3>
      <form method="POST" action="/filter" id="filter">
        <div class="input-wrap">
        <label for="min" name="min">Min:</label>
        <input type="text" name="min">
      </div>
      <div class="input-wrap">
        <label for="max" name="max">Max:</label>
        <input type="text" name="max">
      </div>
        <br>
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>
    <div id="items-container">
      <table class="table">
        <thead>

          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Visit</th>
          </tr>
        </thead>
        <tbody>

          <% for (let key in product) { %>
            <tr>
            <td class="product-td"><div class="product-container">
              <a href="/products/<%=product[key].id %>">
                <img src="<%= product[key].image %>"></td>

                <td><h4><%= product[key].name %></h4></td>
               <td> <span>$<%= product[key].price / 100%></span></td>
               <td><form class="add" method="GET" action="/products/<%= product[key].id %>">
                 <button type="submit">Visit</button>
               </form>  </td>
              </a>
            </div>
          </tr>

              <% } %>

          </tbody>


      </div>
    </div>
  </div>

  <%- include('partials/_footer') %>

</body>
