<!doctype html>
<html lang="en">
  <head>
    <title>Browse</title>
    <%- include('partials/_header') %>
  </head>

<body>
  <div id="browse-main-container">
    <div id="filter-container">
      FILTER CHECKBOX COLUMN

    </div>
    <div id="items-container">
      <table class="table">
        <thead>

          <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Visit</th>
          </tr>
        </thead>
        <tbody>

          <% for (let key in product) { %>
            <tr>
            <td class="product-td"><div class="product-container">
              <a href="/products/<%=product[key].id %>">
                <img src="<%= product[key].image %>"></td>

                <td><h4><%= product[key].name %></h4></td>
               <td> <span>$<%= product[key].price / 100%></span></td>
               <td><form class="add" method="GET" action="/products/<%= product[key].id %>">
                 <button type="submit">Visit</button>
               </form>  </td>
              </a>
            </div>
          </tr>

              <% } %>

          </tbody>


      </div>
    </div>
  </div>


</body>
