<!doctype html>
<html lang="en">
  <head>
    <title>Cart</title>
    <%- include('partials/_nav-bar') %>

    <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
  <script type="text/javascript" src="/scripts/app.js"></script>

<body>
  <div id="centered-flex-cart">
    <div id="cart-container">
      <div id="cart-title">Cart</div>

      <div id="cart-table">
        <table class="table">
          <thead>

            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">QTY</th>
              <th scope="col">Total</th>
              <th scope="col">Remove</th>
            </tr>

          </thead>
          <tbody>

            <tr>
              <% for (let key in cartItem) { %>
              <td><img src="<%=cartItem[key].image%>">&ensp;<%= cartItem[key].name %></td>
              <td>$<%= cartItem[key].price / 100%></td>
              <td>1</td>
              <td>$<%= cartItem[key].price / 100%></td>
              <td><form method="POST" action="/cart/<%= cartItem[key].id %>">
                <button class="btn btn-outline-danger">Remove</button>
                </form>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>


        <div class="cart-footer">
          <div class="footer-total"><h3>TOTAL</h3><% for (let key in cartItem) { %>
                                      <% total+= cartItem[key].price / 100%>
                                  <% } %>
                                  $<%= total %></div>
          <form id="update" action="/cart" method="POST">
            <button class="btn btn-secondary">UPDATE TOTALS</button>
          </form>
          <form id="confirm" action="/purchase" method="POST">
            <button class="btn btn-success">PURCHASE</button>
          </form>
        </div>

    </div>
  </div>
    <%- include('partials/_footer') %>
</body>
