<!doctype html>
<html lang="en">
  <head>
    <title>Favorites</title>
    <%- include('partials/_nav-bar') %>
  </head>

<body>

  <div id="cart-container">
    <div id="cart-title">Your Favorites</div>

    <div id="cart-table">
      <table class="table">
        <thead>

          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Visit</th>
            <th scope="col">Remove</th>
          </tr>

        </thead>
        <tbody>

          <tr>
            <% for (let key in favorites) { %>
            <td><img src="<%=favorites[key].image%>">&ensp;<%= favorites[key].name %></td>
            <td>$<%= favorites[key].price / 100%></td>
            <td>
              <form class="add" method="GET" action="/products/<%= favorites[key].id %>">
                <button type="submit">Visit</button>
              </form>
            </td>
            <td>
              <form class="delete" method="POST" action="/favorites/<%= favorites[key].id %>/remove">
                <button type="submit">Remove</button>
              </form>
            </td>
          </tr>
        <% } %>
        </tbody>
        </table>

  <%- include('partials/_footer') %>

</body>
