<!doctype html>
<html lang="en">
  <head>
    <title>Create New Listing</title>
    <%- include('partials/_header') %>
  </head>


<body>

  <main id="product-container">
    <div id="product-image">
      <img src="https://m.media-amazon.com/images/I/714x6ijdBcL._AC_SL1500_.jpg">
    </div>
    <div id="product-info">
      <div id="product-title"><%= name %></div>
      <div class="price-quant">$&nbsp;<%= price %><span class="price-quant">Stock:&nbsp;<%= stock %></span></div>
      <br>
      <div class="product-description"><%= description %></div>
      <br>
      <form action="/products/<%=product_id%>" method="POST" id="add-cart-btn">
        <label for="add-cart-btn" id="add-cart-btn" name="add-cart-btn"></label>
        <button type="submit">Add To Cart</button>
      </form>
    </div>


  </main>






</body>
