<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <%- include('partials/_header') %>
  </head>


<body>

  <main id="product-container">

    <div id="product-image">
      <img src="<%= image  %>">
    </div>

    <div id="product-info">
      <div id="product-title"><%= name %></div>
      <div class="price-quant">$&nbsp;<%= price %><span class="price-quant">Stock:&nbsp;<%= stock %></span></div>
      <br>
      <div class="product-description"><%= description %></div>
      <br>
      <% if (sold) { %>
      <h3>PRODUCT SOLD</h3>
      <% } else { %>
        <div id="bottom-btns">
          <form action="/products/<%=product_id%>" method="POST" id="add-cart-btn">
            <label for="add-cart-btn" id="add-cart-btn" name="add-cart-btn"></label>
            <button class="btn btn-outline-success" type="submit">Add To Cart</button>
          </form>
          <br>
          <form action="/favorites/<%=product_id%>" method="POST" id="add-fav-btn">
            <label for="add-fav-btn" id="add-fav-btn" name="add-fav-btn"></label>
            <button class="btn btn-outline-dark" type="submit">Save For Later</button>
          </form>
        </div>
      <% } %>
    </div>


  </main>






</body>
