<!doctype html>
<html lang="en">
  <head>
      <!-- Bootstrap Link -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <!-- App CSS -->
      <link rel="stylesheet" href="/styles/product.css" type="text/css" />
      <script type="text/javascript" src="/scripts/app.js"></script>


    <title>Product</title>
    <%- include('partials/_nav-bar') %>
  </head>


<body>

  <main id="product-container">

    <div id="product-image">
      <img src="<%= image  %>">
    </div>

    <div id="product-info">
      <div id="product-title"><%= name %></div>
      <div class="price-quant">$&nbsp;<%= price %><span class="price-quant">Stock:&nbsp;<%= stock %></span></div>
      <br>
      <div class="product-description"><%= description %></div>
      <br>
      <% if (sold) { %>
      <h3>PRODUCT SOLD</h3>
      <% } else { %>
        <div id="bottom-btns">
          <form action="/products/<%=product_id%>" method="POST" id="add-cart-btn">
            <label for="add-cart-btn" id="add-cart-btn" name="add-cart-btn"></label>
            <button class="btn btn-outline-success" type="submit">Add To Cart</button>
          </form>
          <br>
          <form action="/send" method="GET" id="add-msg-btn">
            <label for="add-msg-btn" id="add-msg-btn" name="add-cart-btn"></label>
            <button class="btn btn-outline-dark" type="submit">Message Seller</button>
          </form>
          <br>
          <form action="/favorites/<%=product_id%>" method="POST" id="add-fav-btn">
            <label for="add-fav-btn" id="add-fav-btn" name="add-fav-btn"></label>
            <button class="btn btn-outline-dark" type="submit">Save For Later</button>
          </form>
        </div>
      <% } %>
        <div id="msg-container">
          <form action="/send/<%= product_id %>" method="POST" id="msg">
            <label for="message" id="msg-box" name="msg-box"></label>
            <textarea id="msg-box" name="msg-box" placeholder="Enter Message Here"></textarea>
            <button class="btn btn-outline-success" type="submit">Send</button>
          </form>
        </div>

    </div>


  </main>



  <%- include('partials/_footer') %>


</body>
