<!doctype html>
<html lang="en">
  <head>

      <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/sellerlistings.css" type="text/css" />



    <title>Your Listings</title>



    <%- include('partials/_nav-bar') %>
  </head>

<body>

  <div id="centered-flex-cart">
    <div id="cart-container">
      <div id="cart-title">Your Listings</div>

      <div id="cart-table">
        <table class="table">
          <thead>

            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Visit</th>
              <th scope="col">Delete</th>
              <th scope="col">Status</th>
            </tr>

          </thead>
          <tbody>

            <tr>
              <% for (let product of products) { %>
                <td><img src="<%=product.image%>">&ensp;<%= product.name %></td>
                <td>$<%= product.price / 100%></td>
                <td><form method="GET" action="/products/<%=product.id%>">
                  <button class="btn btn-outline-dark" type="submit">Visit</button>
                  </form>
                </td>
                <td><form method="POST" action="/sellerlistings/<%=product.id%>">
                  <button class="btn btn-outline-danger" type="submit">DELETE</button>
                </form></td>
                <% if (product.sold) { %>
                  <td><form method="POST" action="/sellerlistings/<%=product.id%>/u">
                    <button class="btn btn-danger" type="submit">Mark As Not SOLD</button>
                  </form></td>
                <% } %>
                <% if (!product.sold) { %>
                  <td><form method="POST" action="/sellerlistings/<%=product.id%>/s">
                    <button class="btn btn-outline-danger" type="submit">Mark as SOLD</button>
                  </form></td>
                <% } %>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%- include('partials/_footer') %>
</body>
